.edit-note{
    width: 100%;
    height: 100%;
    margin: 50px;
}

h3{
    color: #597445;
    font-size: 36px;
    margin: 0;
}

.edit-note-1{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.box-title input{
    background-color: #C6E4AB;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
}

.box-category{
    width: 100%;

}

.category-buttons{
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 10px 0;
    box-sizing: border-box;
}

.edit-note-2{
    margin-top: 30px;
}

.box-note textarea{
    width: 100%;
    border-radius: 10px;
    height: 50vh;
    background-color: #C6E4AB;
    border: none;
    font-size: 24px;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0;
}

.edit-note .edit-note-button button{
    float: right;
    margin-left: 20px;
    font-size: 32px;
    background-color: #729762;
    color: #E7F0DC;
    padding: 20px 30px;
}

@media(max-width:1205px) {
    .edit-note{
        margin: 0;
        padding-top: 10px;
    }

    .box-title{
        padding-left: 20px;
    }

    
}